In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import scipy.stats as st
from config import api_key
#Find the best genre for each month out of 2019 - Andrew

In [2]:
base_url = 'https://developers.themoviedb.org/3/discover/movie-discover'

In [3]:

#this one should return a list of movies in 2019 based on an id sorted by popularity
url="https://api.themoviedb.org/3/discover/movie?api_key="+api_key
pop="&primary_release_year=2019&include_adult=False&page="

In [6]:
#this should return the genre id list
GenreID="https://api.themoviedb.org/3/genre/movie/list?api_key="
Gen="&language=en-US"
querys = f"{GenreID}{api_key}{Gen}"
responses = requests.get(querys).json()
genres=[]
genreword=[]
for k in range(0,19,1):
    try:
        genres.append(responses['genres'][k]['id'])
        genreword.append(responses['genres'][k]["name"])
    except:
        genres.append(np.nan)
        genreword.append(np.nan)
        
GenreFrame=pd.DataFrame({"Genres": genres,
                         "Genre Names": genreword
                        })  
GenreFrame.head()

   Genres Genre Names
0      28      Action
1      12   Adventure
2      16   Animation
3      35      Comedy
4      80       Crime

In [36]:
genre1 = []
Data=[]
MovieTitle=[]
Pop=[]
VoteAvg=[]
#query = f"{url}{pop}

for i in range(1,501,1):
    query = f"{url}{pop}{i}"
    response = requests.get(query).json()
    #print(response)
    
    for j in range(0,20,1):
        try:
            Pop.append(response['results'][j]["popularity"])
            MovieTitle.append(response['results'][j]["original_title"])
            VoteAvg.append(response['results'][j]["vote_average"])
            genre1.append(response['results'][j]["genre_ids"])
            Data.append(response['results'][j]["release_date"])
            
            
        except TypeError:
            Pop.append(np.nan)
            MovieTitle.append(np.nan)
            VoteAvg.append(np.nan)
            genre1.append(np.nan)
            Data.append(np.nan)
            
            
genre1

[[12, 18, 9648, 878, 53],
 [35, 10749],
 [28, 12, 35, 14],
 [18, 10752],
 [12, 16, 10751],
 [28, 12, 878],
 [80, 18, 53],
 [35, 18, 53],
 [28, 18],
 [28, 12, 16, 35],
 [27, 53],
 [35, 9648],
 [28, 878],
 [28, 12, 35],
 [35, 80, 18, 53],
 [28, 16, 35],
 [18, 10749],
 [12, 35, 14, 10749, 10751],
 [28, 18, 36],
 [35, 80, 18, 53],
 [28, 18, 36, 10752],
 [35],
 [12, 10751],
 [28, 35, 27],
 [28, 12, 35],
 [28, 12, 878],
 [12, 14, 10751],
 [35, 18, 53],
 [35, 18, 10752],
 [18],
 [28, 80, 18, 53],
 [28, 12, 878],
 [28, 12, 878],
 [12, 18],
 [35, 10749, 10751],
 [18],
 [16, 10749],
 [28, 80, 53],
 [28, 53],
 [27],
 [12, 16, 35, 14, 10751],
 [28, 18, 53],
 [28, 53],
 [18, 14, 27],
 [28, 12, 878],
 [80, 18, 53],
 [28, 80],
 [18],
 [16],
 [18, 53],
 [28, 80, 18],
 [18, 36],
 [80, 18, 36],
 [18, 35, 36],
 [18, 36, 10749],
 [28, 80, 18, 878, 53],
 [10749, 35],
 [12, 10402, 10751, 10770],
 [12, 16, 35, 10751],
 [16],
 [28, 35, 14],
 [12, 16, 10751],
 [878, 28],
 [28, 12, 878, 53],
 [16, 35, 14, 10751],
 [16, 35, 14],
 [28, 53],
 [28, 12, 878],
 [18],
 [80, 18, 36, 53, 10749, 10752],
 [35],
 [],
 [35, 878],
 [28, 12, 14],
 [18],
 [28, 53],
 [35, 27, 9648, 53],
 [18, 9648, 53],
 [80, 18, 10749],
 [28, 12, 16, 14, 10751],
 [18, 878, 53],
 [35, 14, 10402, 10749],
 [878, 18],
 [35, 10749],
 [18, 35],
 [27],
 [18, 9648, 878, 53],
 [18, 10749],
 [12, 16, 35, 10402, 10751, 10770],
 [18, 9648, 53],
 [18, 10749],
 [],
 [28, 80, 9648, 53],
 [18],
 [35, 10749],
 [28, 12, 878],
 [12, 16, 35, 10751],
 [18, 27, 9648],
 [28],
 [27],
 [18, 14, 27, 9648],
 [35, 18, 10749],
 [12, 16, 35, 10751],
 [27, 53],
 [27, 878, 53],
 [18, 36, 10752],
 [28, 53],
 [18, 36],
 [35, 18, 10749],
 [28, 12, 14, 878],
 [12, 14, 10751],
 [27, 9648, 53],
 [27],
 [16, 35, 10751],
 [35, 18, 14],
 [28, 18, 27, 53],
 [80, 18],
 [28, 80, 53],
 [53],
 [28, 18, 878],
 [27, 9648, 53],
 [27, 53],
 [28, 80],
 [53],
 [28, 9648, 53],
 [35, 10751],
 [28, 35, 80, 53],
 [18, 9648, 53],
 [12, 35, 10751],
 [14, 27],
 [35, 27, 878],
 [35, 18, 36],
 [35],
 [28, 80, 53],
 [18, 878],
 [18, 36],
 [18],
 [35],
 [27, 9648],
 [80, 18, 9648],
 [14],
 [35],
 [35],
 [18],
 [35, 14, 10402, 10749],
 [18, 9648, 53],
 [28, 16, 18, 14],
 [28, 12, 80, 878],
 [18],
 [27],
 [18, 878, 53],
 [12, 16, 35, 10751],
 [80, 9648, 53],
 [18, 36],
 [35, 14, 27],
 [35, 18],
 [27, 9648, 53],
 [28, 14],
 [18, 10749],
 [28, 18, 10752],
 [35],
 [35, 10749],
 [14, 9648],
 [35],
 [28, 18, 36, 10752],
 [18],
 [28, 80],
 [35, 80, 9648, 28],
 [18, 36, 10749, 10752],
 [28, 12, 80, 53],
 [12, 16, 35, 14, 10751],
 [28, 12, 16, 35, 14, 10751],
 [28, 27, 9648, 878],
 [28, 12, 16, 35, 14, 878, 10751],
 [18, 10749, 10752],
 [18, 36, 10752],
 [878],
 [28, 12, 16, 14, 10751],
 [28, 80, 53],
 [18, 53],
 [27],
 [18, 9648, 53, 10749],
 [80, 18, 53],
 [18, 27, 53],
 [80, 53],
 [35],
 [18],
 [53],
 [9648, 53, 37],
 [12, 16, 35, 10751],
 [12, 18, 10749],
 [35, 18, 10749],
 [16, 18, 14],
 [12, 16],
 [18],
 [18, 36],
 [18, 53],
 [],
 [35, 18],
 [18],
 [99],
 [53, 28],
 [27, 53],
 [35],
 [28, 80, 18],
 [12, 35, 18],
 [28, 53],
 [80, 16, 9648, 28],
 [12, 14],
 [18, 10402],
 [35, 18],
 [35, 18],
 [],
 [18, 10749],
 [27, 53],
 [18, 10749],
 [18],
 [12, 16, 35, 14, 10751],
 [35, 18],
 [],
 [18, 53],
 [35, 10749],
 [10749, 35],
 [35, 18, 10749],
 [35],
 [35, 18],
 [28, 16],
 [28, 16, 878],
 [35, 14, 10749],
 [35, 18],
 [18],
 [35, 18, 10749],
 [28, 12, 16, 10751],
 [35, 18, 10749],
 [28],
 [27],
 [18, 53],
 [37, 10770],
 [27, 35],
 [28, 18, 878],
 [35],
 [99, 10770],
 [28, 53],
 [99],
 [35, 10749],
 [35],
 [16, 18, 14],
 [35, 80, 18],
 [99, 10752],
 [18, 53],
 [80, 18, 53],
 [80, 27, 53],
 [35, 18],
 [12, 14],
 [28],
 [28, 18, 53],
 [10749, 35],
 [28, 53],
 [80, 18, 53],
 [18, 53],
 [16, 10751],
 [99, 36],
 [35],
 [10749, 10751],
 [80, 18],
 [9648, 878, 53],
 [18],
 [28, 12, 14, 10751],
 [35, 27, 878],
 [10749, 35],
 [35, 10749],
 [35],
 [10749],
 [14, 27, 10402],
 [53],
 [27, 9648, 53],
 [35, 10749, 10770],
 [18],
 [16, 18, 14, 10749],
 [35, 14, 10749],
 [35],
 [28],
 [18, 9648, 53],
 [12, 18],
 [18, 10402],
 [36, 28, 18],
 [35, 18],
 [35, 10751],
 [35, 18],
 [28, 12, 35, 10751, 10770],
 [10749],
 [18, 878],
 [18, 36, 53],
 [35, 10749],
 [12, 16, 35],
 [],
 [10751],
 [18, 10749],
 [53, 9648],
 [99, 10770, 10402, 36],
 [12, 16, 35, 10751],
 [99],
 [27, 9648, 53],
 [28, 53],
 [99],
 [35],
 [18],
 [28, 18, 36, 10752],
 [99, 18, 9648],
 [18, 14],
 [28, 16, 878],
 [35, 18, 9648],
 [53, 80, 18],
 [36, 53],
 [18, 36, 10752],
 [35, 18],
 [53, 10770],
 [28, 18, 36, 53],
 [28, 80, 53],
 [18, 27, 53],
 [12, 16, 35, 14, 10402, 10751],
 [99, 10402],
 [28, 80],
 [878],
 [80, 18],
 [878],
 [35, 10749],
 [35, 18, 10749, 14],
 [53],
 [18, 36, 53],
 [18, 80],
 [18],
 [18],
 [35, 10749],
 [16, 14, 10749],
 [28, 53],
 [80, 18],
 [28, 53],
 [28, 80, 9648, 53],
 [35, 80, 18, 53],
 [27, 53],
 [36, 10749],
 [18, 36],
 [14, 10751],
 [18, 36, 10402],
 [14, 10749],
 [35, 80, 18],
 [28, 53],
 [18],
 [27, 53, 9648],
 [28, 53],
 [18, 27, 9648, 53],
 [28, 878],
 [99],
 [18, 9648],
 [18],
 [18, 9648, 53],
 [28],
 [28, 12, 35, 14, 878],
 [53],
 [12, 18, 14],
 [35, 18, 10402],
 [35, 18],
 [80, 35],
 [99, 10402],
 [28, 53],
 [9648, 10770],
 [53],
 [12, 16, 35, 10751],
 [35, 18, 27],
 [10749, 18],
 [28, 80, 53],
 [35, 10751],
 [18, 10749],
 [18, 10749],
 [18, 36, 9648, 53],
 [35, 27],
 [18, 14, 53],
 [99, 10402],
 [28, 16, 14],
 [28, 12, 18],
 [28],
 [27, 9648],
 [80, 18, 53],
 [16, 18],
 [16, 35, 878, 10751, 10770],
 [80, 9648, 878, 53],
 [53, 10770],
 [35],
 [35, 18],
 [18, 9648, 53],
 [18, 53],
 [28, 18, 10752],
 [28, 18, 10752],
 [12, 16, 35, 9648, 10751],
 [18],
 [18, 53],
 [28, 16, 10751],
 [53, 10749],
 [35, 18, 27, 53],
 [28, 12, 80, 18, 878],
 [53, 10770],
 [35, 80],
 [28, 12, 35, 878],
 [18],
 [35],
 [80, 18, 9648, 53],
 [18],
 [18],
 [18],
 [12, 16, 14],
 [35],
 [18],
 [35],
 [27, 878],
 [18, 53],
 [18, 37],
 [18, 37],
 [18, 10402],
 [35, 18],
 [18, 53],
 [35, 18, 10749],
 [18, 10402, 10770],
 [27, 53],
 [28, 12, 878],
 [16, 35, 10751],
 [80, 18, 27, 53],
 [28, 80, 18],
 [35],
 [53],
 [35],
 [28, 80],
 [10770],
 [80, 18, 53],
 [28],
 [99],
 [35, 18],
 [99, 10402],
 [18],
 [16, 18, 10751],
 [53],
 [10749, 35],
 [18],
 [35],
 [35, 80, 18],
 [18, 10751],
 [35, 18],
 [35, 18],
 [35],
 [53],
 [18],
 [35, 18, 10749],
 [35],
 [18, 36],
 [12, 18, 53],
 [12, 10751],
 [35],
 [80, 53],
 [28, 10751, 878],
 [35, 80, 18],
 [35],
 [28, 53],
 [18],
 [35],
 [18],
 [28, 80, 18, 53],
 [35, 10749],
 [28, 53],
 [28],
 [18],
 [35],
 [28],
 [80, 53, 18, 9648],
 [18, 878],
 [35, 53],
 [18, 14, 10749],
 [27, 53],
 [10402, 99],
 [35],
 [80, 99],
 [18, 10749],
 [35, 10749],
 [9648],
 [10770, 53],
 [18, 36, 53],
 [35],
 [27, 53],
 [18],
 [35, 18],
 [35],
 [80, 53],
 [14, 27, 878],
 [14],
 [18, 10749],
 [35, 27, 878, 10770],
 [35, 10749],
 [18],
 [99, 36],
 [18],
 [18, 10749],
 [18],
 [18],
 [28, 27, 53],
 [18, 10749],
 [12, 16, 14, 9648],
 [28, 80, 53],
 [18],
 [28, 18, 53],
 [99],
 [28, 12, 878],
 [35, 18],
 [12, 16, 35, 10751],
 [27],
 [35, 10402],
 [99],
 [35],
 [28, 80, 18],
 [27],
 [53],
 [35, 14],
 [18, 53],
 [53],
 [35, 18],
 [35],
 [35],
 [18],
 [35, 18],
 [27, 53],
 [27, 53],
 [99],
 [18, 27, 9648, 53],
 [99],
 [99],
 [28],
 [99],
 [35],
 [99],
 [18],
 [53, 9648],
 [18, 10749],
 [18],
 [99],
 [35, 18],
 [878, 53],
 [27, 878, 53],
 [10749, 35, 18],
 [18],
 [99],
 [35, 80, 28],
 [28, 53],
 [80, 10749],
 [28, 35, 18],
 [35],
 [99],
 [18, 10749],
 [18, 53],
 [99, 10402],
 [16],
 [35],
 [35],
 [99, 10402],
 [35, 18],
 [35, 18],
 [35, 14, 27],
 [12, 27, 53],
 [18],
 [28, 18, 53],
 [99],
 [53],
 [18],
 [18, 10749],
 [99, 18],
 [28, 18],
 [16, 80, 28],
 [80, 53],
 [80, 18],
 [35, 10770],
 [99],
 [18],
 [28, 35],
 [99],
 [99],
 [12, 18],
 [36, 35],
 [27],
 [99],
 [35, 10751],
 [878, 53],
 [16, 18, 14, 53],
 [99],
 [99],
 [9648, 53],
 [35],
 [18],
 [28, 12, 16, 14],
 [35],
 [18, 53],
 [18],
 [27],
 [18, 10749],
 [99],
 [16, 35, 14, 10751],
 [28, 80, 18, 10749],
 [99, 10402],
 [35, 18, 10749],
 [16],
 [35],
 [27, 9648],
 [35],
 [18, 10749],
 [16, 35, 10770],
 [99, 10402],
 [99, 10751],
 [35],
 [18, 36, 10770],
 [35],
 [99, 10402],
 [18],
 [18, 878],
 [99],
 [35, 27, 53],
 [99],
 [],
 [18, 27],
 [35],
 [99],
 [99],
 [35, 27],
 [10402, 10749],
 [18],
 [12, 35, 10751],
 [18],
 [],
 [35],
 [99],
 [99],
 [35, 18],
 [80, 18],
 [99],
 [35, 10749],
 [],
 [12, 14, 878, 53],
 [28],
 [35],
 [80, 18, 9648],
 [12, 16, 35, 14],
 [28],
 [],
 [80, 99, 18],
 [10749],
 [18, 10749],
 [878],
 [18, 27],
 [878],
 [27],
 [28],
 [18],
 [27, 53],
 [28, 27, 878, 53],
 [28, 80, 18],
 [28, 10752, 36, 18],
 [12, 35],
 [35, 10402],
 [99],
 [10749, 10770],
 [53, 10770],
 [35, 10751],
 [99],
 [28, 12, 16, 35, 80],
 [27, 878, 53],
 [99],
 [18, 10749],
 [53],
 [99],
 [35, 27, 53],
 [35],
 [99],
 [18],
 [35, 18],
 [53],
 [27, 53, 37],
 [27],
 [27, 9648, 53],
 [27, 9648, 53],
 [35, 18],
 [28, 10752],
 [99],
 [10749, 10770],
 [28],
 [10752],
 [99, 10402],
 [35],
 [18, 10770],
 [18, 10402],
 [18, 10749],
 [18],
 [],
 [16, 80, 9648, 878, 10752],
 [35],
 [18],
 [80, 53],
 [28, 18, 10749],
 [99, 36],
 [27],
 [99],
 [99],
 [35],
 [18, 53],
 [18, 9648, 10749],
 [99],
 [35, 18],
 [18, 9648],
 [53],
 [27],
 [35, 18],
 [27, 9648, 53],
 [27, 18, 53],
 [18],
 [99],
 [28, 80, 53],
 [99],
 [35, 99],
 [27],
 [35],
 [80, 53],
 [27, 53],
 [18],
 [10749, 10770],
 [27],
 [18, 10752],
 [99],
 [18],
 [18, 35],
 [99],
 [99, 27],
 [18],
 [18, 14, 10749],
 [28, 12, 18],
 [53, 18, 80],
 [53],
 [28, 18, 10752],
 [18],
 [80, 99],
 [12, 16, 35, 10751],
 [16, 10751],
 [35, 10749],
 [],
 [10749, 10770],
 [28, 80, 18],
 [27, 53],
 [18],
 [18, 10749],
 [18],
 [16, 12, 28, 14],
 [28, 27],
 [99, 10402],
 [28, 53],
 [18, 10751],
 [99],
 [18],
 [35],
 [28, 16, 878],
 [28, 53],
 [28, 16, 35, 80],
 [28, 878],
 [27, 9648, 53],
 [35],
 [35],
 [12, 16, 18, 9648, 878],
 [53],
 [10752],
 [35, 18],
 [10749, 10770],
 [18, 9648, 53],
 [35, 10770],
 [35],
 [12, 35, 80, 18, 36, 53],
 [99],
 [18, 36],
 [10749, 10770],
 [80, 9648],
 [35, 18],
 [18, 10402],
 [878],
 [99],
 [99],
 [28, 80, 53],
 [27],
 [99, 9648],
 [18],
 [10749, 10770],
 [16, 18, 10751],
 [80, 99],
 [53, 10770],
 [99],
 [35, 27],
 [9648, 10770],
 [35, 99],
 [10749, 10770],
 [35],
 [10749, 10770],
 [99],
 [35, 18],
 [27],
 [35, 10402, 10751],
 [99],
 [99, 10770],
 [18, 10749],
 [28, 35],
 [10749],
 [12, 27],
 [28, 878],
 [35, 10770],
 [99],
 [80, 18],
 [99],
 [27],
 [35, 18],
 [],
 [99],
 [35],
 [27],
 [18],
 [99],
 [35],
 [99],
 [18, 10402],
 [99],
 [35],
 [99, 36, 10770],
 [99],
 [99],
 [27, 53],
 [18],
 [35, 18, 10751],
 [16, 10751],
 [35],
 [],
 [99, 36],
 [35],
 [53, 10770],
 [80, 9648, 53],
 [],
 [18, 10749],
 [99],
 [28, 35],
 [18],
 [18, 878],
 [53],
 [9648, 878],
 [28],
 [12, 16],
 [35, 10749],
 [12, 18, 10751],
 [28, 80, 18, 53],
 [28, 12, 53],
 [35, 10402],
 [10749, 10770],
 [35, 18],
 [35],
 [35, 18],
 [35, 27],
 [80, 99],
 [12, 14],
 [878, 10752],
 [878],
 [35, 18],
 [99],
 [12],
 [28, 35, 80],
 [35, 10749],
 [80, 18],
 [10770, 10749],
 [27, 878, 53],
 [27],
 [35, 10749],
 [35],
 [27],
 [18, 27, 53],
 [18],
 [28],
 [99],
 [16, 10402],
 [16],
 [99],
 [35, 10770, 35, 99],
 [99],
 [18],
 [28, 80],
 [18, 9648, 53],
 [18],
 [99],
 [35],
 [80, 18],
 [35, 10770],
 [99],
 [27],
 [35],
 [27, 53],
 [],
 [18, 10749],
 [18],
 [35],
 [99],
 [10749, 10770],
 [18, 10749],
 [18, 10402],
 [18, 27],
 [35, 18, 10749],
 [28],
 [99],
 [99],
 [27],
 [99],
 [18, 53, 10770],
 [12, 16, 35, 10751],
 [35, 80, 18, 27, 53],
 [18, 14, 27],
 [28, 18, 36],
 [35],
 [99],
 [10749, 35],
 [80, 18],
 [],
 [99],
 [18, 35],
 [18],
 [27, 53],
 [27],
 [12, 37],
 [10749, 10770],
 [35, 10402],
 [35],
 [16, 14, 10751],
 [35, 27, 18, 14],
 [10749, 10770],
 [28, 27],
 [10749, 10770],
 [28],
 [16, 35, 18, 14, 10749],
 [10751, 12],
 [80, 18],
 [18],
 [35],
 [99],
 [18, 53],
 [28, 878],
 [28, 12, 14, 10749],
 [28, 27, 53],
 [99],
 [12, 16, 35, 10751],
 [18],
 [99, 10402],
 [99],
 [80, 18],
 [99],
 [53],
 [36],
 [18],
 [99, 10402],
 [99],
 [99, 36, 10402],
 [99],
 [99],
 [80, 9648, 10770],
 [18],
 [],
 [53],
 [35, 10751],
 [35],
 [18],
 [18],
 [80, 9648, 10770],
 [],
 [18, 53],
 [35, 10749],
 [18],
 [28, 18],
 [80, 18, 9648],
 [18],
 [53, 14, 12, 14],
 [18, 10752, 36],
 [18, 53],
 [18, 878],
 [10749, 10770, 35],
 [18],
 [99],
 [18, 14, 27, 9648, 10749],
 [35],
 [99],
 [35],
 [99],
 [35, 27, 53],
 [9648, 10770],
 [35],
 [35, 18],
 [53],
 [10749, 10770],
 [18, 36, 10749],
 [18, 878, 53],
 ...]

In [50]:
Movies=pd.DataFrame({'Movie Title':MovieTitle,
                    'Popular Score':Pop,
                    'Vote Average':VoteAvg,
                    'Genres':genre1,
                    'Release Date': Data})
Movies.set_index('Movie Title')

Movies
Parse=Movies["Genres"].apply(pd.Series)
GenreFrame

Movies.head()
Movies["Genres"].value_counts()
Movies['Month']=pd.DatetimeIndex(Movies["Release Date"]).month
Movies

,Movie Title,Popular Score,Vote Average,Genres,Release Date,Month
0,Ad Astra,365.750,6.0,"[12, 18, 9648, 878, 53]",2019-09-17,9.0
1,A Rainy Day in New York,328.342,6.7,"[35, 10749]",2019-07-26,7.0
2,Jumanji: The Next Level,195.942,6.8,"[28, 12, 35, 14]",2019-12-04,12.0
3,1917,190.677,8.0,"[18, 10752]",2019-12-25,12.0
4,Frozen II,181.185,7.1,"[12, 16, 10751]",2019-11-20,11.0
...,...,...,...,...,...,...
9995,A mulher que sou,0.840,0.0,[],2019-08-28,8.0
9996,A ética das hienas,0.840,0.0,[],2019-08-20,8.0
9997,Grand Loup & Petit Loup,0.840,0.0,"[16, 10751]",2019-10-16,10.0
9998,Trop Petit Loup,0.840,0.0,"[16, 10751]",2019-10-16,10.0
9999,Brillebjørn på ferie,0.840,0.0,[10751],2019-10-11,10.0

In [ ]:
Months=Movies.groupby(Movies["Month"])
MaxMonthScore=Months["Popular Score"].max()
MaxMonthScore

In [38]:
GenreFrame

    Genres      Genre Names
0       28           Action
1       12        Adventure
2       16        Animation
3       35           Comedy
4       80            Crime
5       99      Documentary
6       18            Drama
7    10751           Family
8       14          Fantasy
9       36          History
10      27           Horror
11   10402            Music
12    9648          Mystery
13   10749          Romance
14     878  Science Fiction
15   10770         TV Movie
16      53         Thriller
17   10752              War
18      37          Western

In [40]:
Movies["Genres"].value_counts()

[]                         1721
[99]                       1669
[18]                       1265
[35]                        623
[27]                        336
                           ...
[80, 53, 28]                  1
[18, 53, 10752]               1
[28, 16, 35, 80]              1
[18, 14, 36, 10752]           1
[12, 18, 9648, 878, 53]       1
Name: Genres, Length: 755, dtype: int64

In [42]:
Movies["Genres"].unique
GenreFrame
Parse
type(Parse)
Parse.columns=["Genre1","Genre2","Genre3","Genre4","Genre5","Genre6","Genre7"]
names=GenreFrame["Genre Names"]
idsnum=GenreFrame["Genres"]
Parse
print(GenreFrame)
Parse["Genre1"].value_counts()
Parse["Genre2"].value_counts()
Parse

    Genres      Genre Names
0       28           Action
1       12        Adventure
2       16        Animation
3       35           Comedy
4       80            Crime
5       99      Documentary
6       18            Drama
7    10751           Family
8       14          Fantasy
9       36          History
10      27           Horror
11   10402            Music
12    9648          Mystery
13   10749          Romance
14     878  Science Fiction
15   10770         TV Movie
16      53         Thriller
17   10752              War
18      37          Western

       Genre1   Genre2   Genre3  Genre4  Genre5  Genre6  Genre7
0        12.0     18.0   9648.0   878.0    53.0     NaN     NaN
1        35.0  10749.0      NaN     NaN     NaN     NaN     NaN
2        28.0     12.0     35.0    14.0     NaN     NaN     NaN
3        18.0  10752.0      NaN     NaN     NaN     NaN     NaN
4        12.0     16.0  10751.0     NaN     NaN     NaN     NaN
...       ...      ...      ...     ...     ...     ...     ...
9995      NaN      NaN      NaN     NaN     NaN     NaN     NaN
9996      NaN      NaN      NaN     NaN     NaN     NaN     NaN
9997     16.0  10751.0      NaN     NaN     NaN     NaN     NaN
9998     16.0  10751.0      NaN     NaN     NaN     NaN     NaN
9999  10751.0      NaN      NaN     NaN     NaN     NaN     NaN

[10000 rows x 7 columns]